<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

<header>
    <div class="header-container">

        <a href="/" class="cnode-logo">
            <img src="http://o4j806krb.qnssl.com/public/images/cnodejs_light.svg" alt="cnode logo">
        </a>
        <input type="text" class="header-search">
        <ul class="nav">
            <li><a href="">首页</a></li>
            <li><a href="">新手入门</a></li>
            <li><a href="">API</a></li>
            <li><a href="">关于</a></li>
            <% if(!user){%>
            <li><a href="/signup">注册</a></li>
            <li><a href="/signin">登录</a></li>
            <%} else {%>
            <li><a href="">设置</a></li>
            <li><a href="/signout">登出</a></li>
            <%}%>
        </ul>
    </div>
</header>