<% include header.ejs %>
<div class="main">
    <% include side.ejs%>
    <div class="panel panel-left">
        <div class="panel-header">
            <ul class="breadcrumb">
                <li><a href="/" class="breadcrumb">主页</a></li>/
                <li>注册</li>
            </ul>
        </div>
        <% include notification.ejs%>
        <!--这里multer和csurf中间件一起使用时验证时候会出现问题，把action写成这种形式可以暂时解决-->
        <!--详见 https://github.com/expressjs/csurf/issues/58 -->
        <form method="post" action="/signup?_csrf=<%= csrf%>" class="signup-form" enctype="multipart/form-data">
            <div class="field">
                <input type="text" id="name" name="name" placeholder="用户名">
            </div>
            <div class="field">
                <input type="password" id="password" name="password" placeholder="密码">
            </div>
            <div class="field">
                <input type="password" id="repassword" name="repassword" placeholder="重复密码">
            </div>
            <div class="field">
                <input type="file" name="avatar" placeholder="选择头像">
            </div>
            <div class="field">
                <button type="submit" class="button-default">注册</button>
            </div>

        </form>
    </div>

</div>

<% include footer.ejs %>