<% include header.ejs %>
<div class="main">
    <% include side.ejs%>
    <div class="panel panel-left">
        <div class="panel-header">
            <ul class="breadcrumb">
                <li><a href="/" class="breadcrumb">主页</a></li>/
                <li>登录</li>
            </ul>
        </div>
        <% include notification.ejs%>
        <form method="post" action="/signin" class="signup-form">
            <div class="field">
                <input type="text" id="name" name="name" placeholder="用户名">
            </div>
            <div class="field">
                <input type="password" id="password" name="password" placeholder="密码">
            </div>
            <div class="field">
                <button type="submit" class="button-default">登录</button>
            </div>
        </form>
    </div>

</div>

<% include footer.ejs %>